:root {
	--color-background: #e5e5e5;
	--color-background-middle: #eee;
	--color-background-highlight: #fff;
	--color-foreground: #333;
	--color-foreground-shadow: #0d275041;
}

* {
	margin: 0;
	padding: 0;
}

html,
textarea,
button {
	font:
		100 100%/1.4 -apple-system,
		"BlinkMacSystemFont",
		"Helvetica Neue",
		"Helvetica",
		"Lucida Grande",
		"Arial",
		sans-serif;
}

html,
body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body,
textarea {
	background: var(--color-background);
	color: var(--color-foreground);
	text-shadow: var(--color-background-highlight) 1px 1px 0;
}

body {
	background: linear-gradient(
		145deg,
		var(--color-background-highlight),
		var(--color-background-middle),
		var(--color-background)
	);
}

form {
	width: 90vw;
	max-width: 1400px;
	padding: 1em 0;
	text-align: center;
}

h1,
textarea,
output {
	margin-bottom: 1em;
}

h1 {
	font-weight: 700;
	font-size: 3em;
}

textarea {
	font-size: 1.7em;
	width: 100%;
	height: 5em;
	padding: 0.5em;
	resize: vertical;
	box-sizing: border-box;
}

textarea {
	border-radius: 0.5em;
	box-shadow:
		inset var(--color-foreground-shadow) 0.5em 0.5em 0.5em,
		inset var(--color-background-highlight) -0.5em -0.5em 0.5em;
	border-width: 0;
}

output {
	display: block;
	white-space: pre-line;
	font-size: 2em;
}

kbd {
	display: inline-block;
	background: var(--color-background-middle);
	font-size: 0.8em;
	padding: 0 0.2em;
}

button {
	font-size: 1.1em;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	border-width: 0;
	color: var(--color-foreground);
	text-shadow: var(--color-background-highlight) 1px 1px 0;
	background: var(--color-background);
	color: var(--color-foreground);
	box-shadow:
		var(--color-foreground-shadow) 0.1em 0.1em 0.1em,
		inset var(--color-background-highlight) 0.1em 0.1em 0.1em,
		inset var(--color-foreground-shadow) -0.1em -0.1em 0.1em;
	cursor: pointer;
	margin: 0 0 1em;
}

dialog {
	position: fixed;
	top: 10vh;
	left: 40vw;
	width: 20vw;
	padding: 1em;
	background: var(--color-foreground);
	color: var(--color-background-highlight);
	text-shadow: none;
	text-align: center;
	border-radius: 1em;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	box-shadow: var(--color-foreground-shadow) 0 0 0 0.5em;
}

dialog[open] {
	opacity: 1;
}
