:root {
  --color-background: #e5e5e5;
  --color-code-background: #eee;
  --color-foreground: #333;
  --color-shadow: #0d275041;
  --color-highlight: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html, textarea, button {
  font: 100 100%/1.4 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, textarea {
  background: var(--color-background);
  color: var(--color-foreground);
  text-shadow: var(--color-highlight) 1px 1px 0;
}

form {
  width: 90vw;
  padding: 1em 0;
  text-align: center;
}

h1,
textarea,
output {
  margin-bottom: 1em;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}

textarea {
  font-size: 1.7em;
  width: 100%;
  height: 5em;
  padding: .5em;
  resize: vertical;
  box-sizing: border-box;
}

textarea {
  border-radius: .5em;
  box-shadow: var(--color-shadow) .5em .5em .5em,
              var(--color-highlight) -.5em -.5em .5em,
              inset var(--color-shadow) .5em .5em .5em,
              inset var(--color-highlight) -.5em -.5em .5em;
  border-width: 0;
}

output {
  display: block;
  white-space: pre-line;
  font-size: 2em;
}

kbd {
  display: inline-block;
  background: var(--color-code-background);
  font-size: 0.8em;
  padding: 0 0.2em;
}

button {
  font-size: 1.1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border-width: 0;
  color: var(--color-foreground);
  text-shadow: var(--color-highlight) 1px 1px 0;
  background: var(--color-background);
  color: var(--color-foreground);
  box-shadow: var(--color-shadow) .1em .1em .1em,
              inset var(--color-highlight) .1em .1em .1em,
              inset var(--color-shadow) -.1em -.1em .1em;
  cursor: pointer;
  margin: 0 0 1em;
}

dialog {
  position: fixed;
  top: 10vh;
  left: 40vw;
  width: 20vw;
  padding: 1em;
  background: var(--color-foreground);
  color: var(--color-highlight);
  text-shadow: none;
  text-align: center;
  border-radius: 1em;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  box-shadow: var(--color-shadow) 0 0 0 .5em;
}

dialog[open] {
  opacity: 1;
}
