* {
  margin: 0;
  padding: 0;
}

html {
  font: 100 100%/1.4 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 90vw;
  padding: 1em 0;
  text-align: center;
}

h1,
textarea,
output {
  margin-bottom: 1em;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}

textarea {
  font-size: 2em;
  width: 100%;
  height: 5em;
  padding: 0.25em;
  resize: vertical;
  box-sizing: border-box;
}

output {
  display: block;
  white-space: pre-line;
  font-size: 2em;
}

kbd {
  display: inline-block;
  background: #eee;
  font-size: 0.8em;
  padding: 0 0.2em;
}
